body {
	font: 'Raleway', sans-serif;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, rgb(78, 84, 200), rgb(143, 148, 251)); /* Standard syntax */
}

main{
    border:none;
    position:relative;
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
    position:absolute;
    top: 150px;
}

hr{
    width:600px;
    position:absolute;
    top: 270px;
    left:31%;
}

.code-syntax-box{
    height: 100px;
    width:600px;
    background-color: beige;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: 6px 6px 22px -1px rgba(31,24,31,0.79);
    position: relative;
    top: 500px;
    left:31%;

}

.code-syntax {
	font: 900 1em 'Raleway', sans-serif;
    color: #26405e;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
    position: absolute;
    top:20px;
    left:40px;
   

}

.color-picker{
    position:absolute;
    top: 450px;
    left:43%;
}

input[type="text"]{
    -webkit-appearance: none;
    border: 1px solid white;
    outline:none;
	width: 200px;
    height: 50px;
    margin:10px;
    padding:5px;
    font: 600 1em 'Raleway', sans-serif;
    color: #26405e;
    border-radius: 30px;
    text-align: center;
    box-shadow: 6px 6px 22px -1px rgba(31,24,31,0.5);
}

input[type="text"]{
    position: relative;
    top: 350px;
}

input[type="text"]::placeholder{
    font: 500 1em 'Raleway', sans-serif;
    color: #496e97;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

input[type="text"]:hover{
    box-shadow: 6px 6px 22px -1px rgba(31,24,31,1);
}

input[type="color"] {
	-webkit-appearance: none;
	border: 1px solid white;
	width: 100px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 6px 6px 22px -1px rgba(31,24,31,0.79);
    outline:none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 30px;
}

.footer-text{
    position:absolute;
    bottom:0;
    left : 34%;
}
p{
    font: 500 1em 'Raleway', sans-serif;
    color:beige;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}
